{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Yourlib, Where the Movies Assemble</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{% static 'css/yourLib.css' %}">
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">YourLib</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <a class="nav-link" href="{% url 'main:likeList' %}">Like List<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="{% url 'main:bookmarkList' %}">Bookmark List<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

<div class="container justify-content-center text-center titleList">
  <h1 class="display-4 judul">Bookmark List</h1>
  <p class="lead">This is where you can see what the users bookmark</p>
</div>

<div class="row padding">
    {%for movie in allBookmark%}
    <div class="col-md-3 kartu">
      <span name="dataId" style="display:none">{{ movie.get_movie_id }}</span>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{movie.poster}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{movie}}({{movie.year}})</h5>
          <p class="card-text">{{movie.plotStr}}</p>
          <a type="submit" class="btn btn-outline-success my-2 my-sm-0 btn-primary active" id="likesBtn" href="{{movie.get_unbook_url}}">Unbook</a>
        </div>
      </div>
  </div>
    {%endfor%}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/yourlib.js' %}"></script>
{% endblock content %}
