{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Yourlib, Where the Movies Assemble</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/yourLib.css' %}">
{% endblock meta %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">YourLib</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <a class="nav-link" href="{% url 'main:likeList' %}">Like List<span class="sr-only">(current)</span></a>
      <a class="nav-link" href="{% url 'main:bookmarkList' %}">Bookmark List<span class="sr-only">(current)</span></a>
    </div>

    <select class="form-control searchType" id="searchType">
      <option value="1">IMDb ID</option>
      <option value="2">title</option>
    </select>

    <!-- <form class="form-inline my-2 my-lg-0"></form> -->
    <input class="form-control mr-sm-2" type="text" id="searchIn" placeholder="Search" aria-label="Search">
    <input type="button" class="btn btn-outline-success my-2 my-sm-0 btn-primary" id="searchBtn" value="Go"
      data-target="#searchBox" onclick="location.href='#searchBox';">
    <!-- </form> -->
  </div>
</nav>

<div id="results" class="resultBox"></div>

<section>
  <div id="Carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
      <li data-target="#Carousel" data-slide-to="1"></li>
      <li data-target="#Carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block w-100 h-50 dark" src="{% static 'img/AIW.jpg' %}" alt="First Slide">
        <div class="carousel-caption">
          <h3>Avengers : Infinity War</h3>
          <p>The Avengers must stop Thanos, an intergalactic warlord, <br>from getting his hands on all the infinity
            stones. <br>However, Thanos is prepared to go to any lengths to carry out his insane plan.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 h-50 dark" src="{% static 'img/Wanda Vision.jpg' %}" alt="Second Slide">
        <div class="carousel-caption">
          <h3>Wanda Vision</h3>
          <p>Three weeks after the events of Avengers: Endgame (2019),<br>
            Wanda Maximoff and Vision are living an idyllic suburban life in the town of Westview, New Jersey, trying to
            conceal their true natures.<br>
            As they begin to enter new decades and encounter television tropes, the couple suspects that things are not
            as they seem.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 h-50 dark" src="{% static 'img/queen gambit.jpg' %}" alt="Third Slide">
        <div class="carousel-caption">
          <h3>Queen's Gambit</h3>
          <p>The Queen's Gambit follows the life of an orphan chess prodigy, Elizabeth Harmon,<br>
            during her quest to become the world's greatest chess player while struggling with emotional problems and
            drug and alcohol dependency. <br>
            The title of the series refers to a chess opening of the same name.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="introduction ">
  <div class="jumbotron jumbotron-fluid ">
    <div class="container justify-content-center text-center">
      <h1 class="display-4 judul">Welcome to YourLib!</h1>
      <p class="lead">YourLib is a platform where you can search, likes, and bookmarks your favourite movie.<br>
        Love watching movies? or want to search one? Just try us :D
      </p>
      <hr>
    </div>

  </div>
</section>

<div class="parallax">
  <div class="text-center justify-content-center container-fluid quotes">
    <h1 class="display-4 judul judulPutih">“The most honest form of filmmaking is to make a film for yourself.”</h1>
    <p class="lead putih">- Peter Jackson</p>
  </div>
</div>



<div class="jumbotron jumbotron-fluid" id="searchBox">
  <div class="container justify-content-center text-center">
    <h1 class="display-4 judul">Start Searching!</h1>
    <p class="lead">fill the form in Your Navbar to start searching
    </p>
    <hr>
  </div>
  <div id="results"></div>
</div>

<section id="list">
  <div class="row justify-content-center text-center">
    <h1 class="judul display-4">Check People's Favorite !</h1>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 justify-content-center text-center">
      <h2>People Liked This One !</h2>
      <br>
      <a class="btn btn-outline-success my-2 my-sm-0 btn-primary" href="{% url 'main:likeList'%}" role="button">Go to
        Like List...</a>
    </div>
    <div class="col-md-6 justify-content-center text-center">
      <h2>People Bookmarked This One !</h2>
      <br>
      <a class="btn btn-outline-success my-2 my-sm-0 btn-primary" href="{% url 'main:bookmarkList'%}" role="button">Go
        to Bookmark List...</a>
    </div>
  </div>

</section>

<footer>
  <div class="container-fluid padding footer">
    <div class="col-lg-12 text-center">
      <h5 class="display-3 judulPutih">About Me</h5>
      <h3 class="display-5 putih">a student who still learning
      </h3>
    </div>
    <div class="row padding">
      <div class="col-12 social padding d-flex justify-content-center">
        <a href="https://www.facebook.com/pwigunarta" class="fa fa-facebook" target="_blank"></a>
        <a href="https://www.instagram.com/putu.wig/" class="fa fa-instagram" target="_blank"></a>
        <a href="https://www.linkedin.com/in/putu-wigunarta-16ba57192/" class="fa fa-linkedin" target="_blank"></a>
      </div>
    </div>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/yourlib.js' %}"></script>
{% endblock content %}