html, body{
    overflow-x : hidden;
    max-width: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

.searchType{
    width: 6vw;
    margin-right: 1vw;
}

#searchIn{
    width: 15vw;
}


.active{
    background-color: red;
}

.carousel-inner, .carousel-item{
    max-height: 75vh;
}


.carousel-subtitle{
    width: 50vw;
    text-align: center;
}

.dark{
    filter: brightness(70%);
}

hr{
    height: 1vh;
    width: 40vw;
}

.asset1{
    height: 50vh;
    width: 50vw;
    object-fit: contain;
}

.judul-search{
    font-weight: bolder;
    font-size: 8vh;
}

.judul{
    font-weight: bolder;
}

.subjudul{
    width: 70%;
    line-height: 7vh;
}

.btn{
    color: #440a67;
    border-color: #440a67;
}

.btn:hover{
    background-color: #440a67;
    border-color:#440a67;
}

.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.kartu{
    margin: auto;
    padding-top: 5vw;
}

.card{
    margin: auto;
}

.card-text{
    height: 10vw;
}

.resultBox{
    max-height: 10vh;
    max-width: 10vw;
    z-index: -1;
}

.footer {
    background-color: #222831;
    padding-top: 10vh;
    margin-top: 10vh;
  }

.judulPutih {
color: #eeeeee;
font-weight: bold;
}

/* Add a hover effect if you want */
.fa:hover {
    background-color: white;
  }
  
/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
background-color: #3b5998;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.putih {
color: #eeeeee;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 40px;
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 2rem;
  }

.parallax{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/caca.jpg);
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    margin: 0;
}

.quotes{
    padding-top: 15vh;
    max-width: 75%;
}

#list{
    margin: 10vh;
}

.titleList{
    padding-top: 10vh;
}
  

  
  